# runtime requirements
Cython
decorator
numpy>=1.23.5
tqdm>=4.62.3
typing_extensions>=4.10.0
attrs
cloudpickle
ml_dtypes
psutil
torch>=2.2.0

# [dev] format requirements
yapf==0.40.2
ruff==0.6.5
codespell==2.3.0